mat-form-field {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.close-button {
  margin-bottom: 16px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}
